<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID:-} ---
[%thread] %-40.40logger{50} : %msg%n"/>

    <!-- STDOUT (консольный апендер) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- FILE с ежедневной ротацией -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Архив с указанием даты -->
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Сколько файлов хранить -->
            <maxHistory>7</maxHistory>
            <!-- Максимальный размер хранилища всех логов
            (необязательно) -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- Логгеры для Kafka - ограничиваем DEBUG логи -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework.kafka" level="WARN"/>

    <!-- Более детальная настройка для конкретных шумных классов -->
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <logger name="org.apache.kafka.clients.FetchSessionHandler" level="ERROR"/>
    <logger name="org.apache.kafka.clients.consumer.internals.AbstractFetch" level="ERROR"/>
    <logger name="org.apache.kafka.clients.Metadata" level="WARN"/>
    <logger name="org.apache.kafka.common.metrics" level="WARN"/>
    <logger name="org.apache.kafka.common.utils" level="WARN"/>
    <!-- Корневой логгер (root) -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
